$gr-100: #FFFFFF;
$gr-200: #C9C9C9;
$gr-300: #9A9A9A;
$gr-400: #494949;
$gr-500: #282828;
$gr-600: #000000;

$green-100: #59CA24;
$green-200: #49CE0C;
$green-300: #52B722;
$green-400: #47a21d;

$alert: #ff5900;

$ft-xsm: .5rem;
$ft-sm: .75rem;
$ft-md: 1rem;
$ft-xmd: 1.25rem;
$ft-lg: 1.5rem;
$ft-xlg: 2rem;
$ft-xxlg: 2.5rem;
$ft-xxxlg: 2.75rem;

$breakpoint: 500px;
$container: 728px;
$smoll: 428px;