@use 'variables' as *;

// Font Definition
* { 
    font-family: "Montserrat", sans-serif;
}
*.garamond {
    font-family: "EB Garamond", serif; font-weight: bold; font-style: italic;
}
*.strong {
    font-weight: bold;
}