@use 'variables' as *;

// Font Definition
* { 
    font-family: "Montserrat", sans-serif;
}
*.garamond {
    font-family: "EB Garamond", serif; font-style: italic;
}
strong {
    font-weight: bold;
}

// Global Style Definition
main {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    background: rgb(30,30,30);
    background: linear-gradient(45deg, rgba(30,30,30,1) 0%, rgba(60,60,60,1) 100%);
}

.banner {
    .container {
        background-image: url('../assets/images/banner.webp');
        background-position: center;
        background-repeat: no-repeat;
        height: 245px;
        display: flex;
        align-items: center;
        .title {
            display: flex;
            flex-direction: column;
            color: $gr-100;
            margin-left: 8%;
            padding: 10% 0;
            border-radius: 100%;
            background: rgb(0,0,0);
            background: radial-gradient(circle, rgba(0,0,0,0.4) 0%, transparent 75%);
            #title-1 {
                font-size: $ft-xlg;
                padding-bottom: 4px;
            }
            #title-2 {
                font-size: $ft-xxlg;
            }
            #title-3 {
                margin-top: -6px;
                font-size: $ft-xxlg;
            }
        } 
    }
}
.line {
    width: fit-content;
    position: absolute;
    left: -40%;
    text-wrap: nowrap;
    text-align: center;
    transform: rotateZ(-3deg);
    background-color: $gr-100;
    padding: 6px;
    margin-top: -16px;
}
.form {
    margin: 64px 8% 36px 8%;
    display: flex;
    color: $gr-100;
    text-align: center;

    #form-text-1 {
        margin-bottom: 24px;
    }

    #form-text-2 {
        margin-bottom: 26px;
        font-size: .85rem;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        #form-cta {
            font-size: .9rem;
            span {
                background-color: $green-300;
                padding: 4px 8px;
            }
        }
        input {
            width: 100%;
            margin-top: 12px;
            font-size: 1.15rem;
            padding: 8px;
            border-radius: 2px;
        }
        button {
            margin-top: 18px;
            font-size: $ft-xmd;
            width: 95%;
            background-color: $green-200;
            background-color: linear-gradient(45deg, $green-200 0%, $green-100 100%);
            color: $gr-100;
            padding: 12px 6px;
            font-style: italic;
            border-radius: 2px;
            box-shadow: 2px 2px 12px rgba(0,0,0,.6);
            transition: background-color .2s;
            &:hover{
                background-color: $green-300;
            }
            &:active{
                background-color: $green-400;
            }
        }
    }
}

.about {
    .container {
        background-color: $gr-200;
        color: $gr-500;
        padding: 24px 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 12px;
        h2 {
            font-size: $ft-lg;
            span {
                text-decoration: underline;
            }
            margin-bottom: 16px;
        }
        ul {
            li {
                color: $gr-100;
                background-color: $gr-500;
                border-radius: 4px;
                margin-top: 8px;
                font-size: .8rem;
                padding: 8px 6px;
            }
        }
    }
}